.container_fluid{
  max-width: 100vw;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    

    
    .Sidebar {
        width: 20%;
        
        background-color: #F7F7F7;
     
        border-right: 1px solid
        rgb(220, 198, 198);
        
        height: 100%;
        padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
    
    }
  .body{
    width: 60%;
  }
  .rightSide{
    width: 20%;
    border-left: 1px solid
    rgb(220, 198, 198);
  }

}
