.bodyContainer {
    overflow-y: hidden;
height: 100vh;
overflow-y: scroll;
// hide scroll bar from firefox
scrollbar-width: none;
// hide scroll bar from edge

&::-webkit-scrollbar{
    display: none;
}// hide scroll bar from crome ,safary,

    .title{
    text-align: center;
       
        left: 0;
        right: 0;
}

}
